/* You can add global styles to this file, and also import other style files */

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

@font-face {
  font-family: "lakeshore-regular";
  src: url("./assets/fonts/lakeshore-regular.ttf") format("woff"),
    url("./assets/fonts/lakeshore-regular.ttf") format("opentype"),
    url("./assets/fonts/lakeshore-regular.ttf") format("truetype");
}
.font-regular {
  font-family: "Russo One", sans-serif;
}
.fontSpecial-normal {
  font-family: "lakeshore-regular" !important;
  font-size: 2.5rem;
  text-transform: none;
}

.fontSpecial-lg {
  font-family: "lakeshore-regular" !important;
  font-size: 4rem;
  text-transform: none;
}

.text-shadow-strong {
  text-shadow: 2px 1px 13px #000000, 2px 2px 13px #000000, 2px 3px 13px #000000,
    1px 3px 13px #000000, 2px 3px 13px #000000, 3px 3px 13px #000000;
}

.shadow {
  border: none;
  -webkit-box-shadow: 3px 7px 18px 3px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 3px 7px 18px 3px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 3px 7px 18px 3px rgba(0, 0, 0, 0.5) !important;
}

.shadow-primary {
  border: none;
  -webkit-box-shadow: 3px 7px 18px 3px #4c194f8c !important;
  -moz-box-shadow: 3px 7px 18px 3px #4c194f8c !important;
  box-shadow: 3px 7px 18px 3px #4c194f8c !important;
}

.shadow-white {
  border: none;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.7) !important;
  -moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.7) !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Recolor theme */
.text-primary {
  color: #4c194f !important;
}
.text-dark {
  color: #232323 !important;
}

.btn-primary {
  color: #fff;
  background-color: #4c194f!important;
  border-color: #4c194f!important;
}

.bg-primary {
  background-color: #4c194f !important;
}
.bg-primary-transparent {
  background-color: #4c194f8c;
}

.bg-dark {
  background-color: #232323 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-gradient-x-purple-blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9f78ff),
    to(#32cafe)
  );
  background-image: -webkit-linear-gradient(left, #4c194f, #3D9BE9);
  background-image: -moz-linear-gradient(left, #4c194f, #3D9BE9);
  background-image: -o-linear-gradient(left, #4c194f, #3D9BE9);
  background-image: linear-gradient(to right, #4c194f, #3D9BE9);
  background-repeat: repeat-x;
}

.bg-gradient-x-purple-dark {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4c194f),
    to(#232323)
  );
  background-image: -webkit-linear-gradient(left, #4c194f, #232323);
  background-image: -moz-linear-gradient(left, #4c194f, #232323);
  background-image: -o-linear-gradient(left, #4c194f, #232323);
  background-image: linear-gradient(to right, #4c194f, #232323);
  background-repeat: repeat-x;
}

.bg-gradient-x-dark-purple {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#232323),
    to(#4c194f)
  );
  background-image: -webkit-linear-gradient(left, #232323, #4c194f);
  background-image: -moz-linear-gradient(left, #232323, #4c194f);
  background-image: -o-linear-gradient(left, #232323, #4c194f);
  background-image: linear-gradient(to right, #232323, #4c194f);
  background-repeat: repeat-x;
}

.bg-gradient-y-purple-dark {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4c194f),
    to(#232323)
  );
  background-image: -webkit-linear-gradient(top, #4c194f, #232323);
  background-image: -moz-linear-gradient(top, #4c194f, #232323);
  background-image: -o-linear-gradient(top, #4c194f, #232323);
  background-image: linear-gradient(to bottom, #4c194f, #232323);
  background-repeat: repeat-y;
}

/* Espaciado */

.hr-aracne {
  border-top: 1px solid rgba(215, 193, 233, 0.1);
}

.p-10 {
  padding: 6rem !important;
}

/* Pantalla */
.screen {
  overflow: hidden;
}
.min-vh-70 {
  min-height: 70vh !important;
}

.vh-70 {
  height: 70vh !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .size-lg {
    font-size: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .size-lg {
    font-size: 1.5em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
