<div class="container-fluid bg-dark min-vh-70">
  <div class="container">
    <div class="row">
      <div class="col col-12 meme-container m-auto p-2 min-vh-70 text-white">
          <h1 class="font-regular text-center m-auto">Estamos trabajando para usted...</h1>
          <img src="../../assets/images/logos/Inkedvillager-working-ksi.jpg" alt="" class="img-fluid m-auto shadow-white">
          <h3 class="font-regular text-center text-muted m-auto p-2">"Trampas deshabilitadas, el comando 'aegis' no está funcionando, agradecemos su comprensión"</h3>
      </div>
    </div>
  </div>
</div>
