<div class="container text-white font-regular py-5">
  <div id="template-player" class="container-player-info col-xs-12 col-md-6">
    <div
      class="container-fluid bg-gradient-y-purple-dark shadow-white rounded p-3"
    >
      <div class="row">
        <div class="col-7 player-name">
          <h2 class="align-middle" id="player-name">{{ player.name }}</h2>
        </div>
        <div class="col-5 d-inline">
          <ul class="social_ul">
            <li *ngIf="player.social.facebook !== ''">
              <a id="social-fb" [href]="player.social.facebook" target="_blank"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li *ngIf="player.social.twitter !== ''">
              <a id="social-tw" [href]="player.social.twitter" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li *ngIf="player.social.instagram !== ''">
              <a id="social-in" [href]="player.social.instagram" target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="hr-aracne" />

      <div class="row">
        <div class="col">
          <h4>Rol</h4>
          <p id="player-role text-muted">{{ player.role }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Acerca del jugador</h4>
          <p id="player-description text-muted">{{ player.about }}</p>
        </div>
      </div>
      <hr class="hr-aracne" />
      <div class="row">
        <div class="col">
          <div class="nav nav-tabs nav-aracne " id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active"
              id="twitch"
              data-toggle="tab"
              href="#twitchxd"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
              Twitch
            </a>
            <a
              class="nav-item nav-link"
              id="youtube"
              data-toggle="tab"
              href="#youtubexd"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
              Youtube
            </a>
          </div>
          <!-- TWITCH/YOUTUBE/MIXER -->
          <div class="tab-content">
            <div
              id="twitchxd"
              class="tab-pane fade in active show videoWrapper"
              *ngIf="player.channels.twitch !== ''; else noTwitch"
            >
              <iframe
                [src]="player.channels.twitch|safe"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
              >
              </iframe>
            </div>
            <ng-template #noTwitch>
              <div
                id="twitchxd"
                class="tab-pane fade in active show videoWrapper"
              >
                no tiene twitch :(
              </div>
            </ng-template>
            <div id="youtubexd" class="tab-pane fade videoWrapper" *ngIf="player.channels.youtube!==''; else noYoutube">
              <iframe
                width="560"
                height="315"
                [src]="player.channels.youtube|safe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
            <ng-template #noYoutube>
                <div id="youtubexd" class="tab-pane fade videoWrapper">
                   pobrecito no tiene llutuv :c
                  </div>
            </ng-template>
          </div>

          <!-- FIN-->
        </div>
      </div>
      <hr class="hr-aracne" />
      <!-- <hr class="hr-aracne" />
      <div class="row">
        <div class="col" id="player-setup">
          <h4>Setup</h4>
        </div>
      </div> -->
    </div>
  </div>
</div>
