.tab-content-overflow {
  overflow: scroll;
  height: calc(100vh - 79px);
  width: 100vw;
}
.player-portrait {
  padding-top: 10%;
  position: absolute;
  width: 19vw;
}
.container-player-info {
  display: inline-flex;
}
.player-name {
  display: grid;
  align-items: center;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden !important;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.social_ul {
  display: inline-flex;
  list-style-type: none;
  float: right;
}
.social_ul li {
  padding-left: 20px;
  padding-top: 10px;
}
.social_ul > li a {
  color: #ffffff;
}

.nav-aracne-jugadores {
  background-color: rgba(55,30,57,.5);
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-aracne a{
   color: white;
   
}

.nav-aracne .nav-link.active {
  border: 0;
  border-bottom: 2px solid #e7dee8;
  color: white;
  background-color: #232323;
}

.nav-aracne .nav-link:hover {
  border: 0;
  background-color: #2323239e;
}