<div class="row px-4 mt-3">
  <a
    [routerLink]="['/teams',team.id]"
    class="col-xs-12 col-lg-3 col-md-6 mx-auto mt-2 mb-4"
    *ngFor="let team of teams"
    style="cursor: pointer; z-index: 10;"
  >
    <div class="card shadow-primary bg-primary-transparent rounded h-100">
      <img class="card-img" [src]="team.imageUrl" alt="{{ team.name }}" />
      <div class="card-img-overlay pt-4 text-shadow-strong">
        <h1 class="card-title text-white m-auto text-center fontSpecial-lg">
          {{ team.name }}
        </h1>
      </div>
    </div>
  </a>
</div>
