<div class="container-fluid min-vh-70 bg-dark">
    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-6 pagenotfound-logocontainer">
                <img src="../../assets/images/logos/logo-fighting.png" alt="" class="img-fluid m-auto">
            </div>
            <div class="col-6 pagenotfound-textcontainer text-white">
                <div class="row m-auto">
                    <div class="col-md-12">
                        <h1 class="font-regular">
                            Error 404 - Get Over Here!!
                        </h1>
                        <p class="font-regular blackquote text-muted">
                            "Creo que lo que estás buscando no está por acá, te recomiendo volver por donde llegaste..."
                        </p>
                        <p class="font-regular m-auto">
                            <a routerLink="/home" class="btn btn-primary shadow-white btn-lg active" role="button" aria-pressed="true">Volver al Inicio :D</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pagenotfound-logocontainer-mobile d-block d-md-none text-white m-0 min-vh-70">
        <div class="pagenotfound-logocontainer-mobile-text col-xs-12 min-vh-70 px-5">
            <h1 class="font-regular m-auto">
                Error 404 - Get Over Here!!
            </h1>
            <p class="font-regular blackquote text-muted m-auto">
                "Creo que lo que estás buscando no está por acá, te recomiendo volver por donde llegaste..."
            </p>
            <p class="font-regular m-auto">
                <a routerLink="/home" class="btn btn-primary shadow-white btn-lg active" role="button" aria-pressed="true">Volver al Inicio :D</a>
            </p>
        </div>
    </div>
</div>