.pagenotfound-logocontainer {
}
.pagenotfound-textcontainer {
  display: none;
}
.pagenotfound-logocontainer-mobile {
  background: url("../../assets/images/logos/logo-fighting.png");
  background-size: cover;
}
.pagenotfound-logocontainer-mobile-text {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid !important;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pagenotfound-textcontainer {
    display: grid;
  }
  .pagenotfound-logocontainer-mobile-text {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
