<div class="container-fluid bg-dark min-vh-70">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 mx-auto my-5">
        <h1 class="fontSpecial-lg text-center text-white">Patrocinadores</h1>
      </div>
    </div>
    <div
      [ngClass]="
        i % 2 != 0 ? 'bg-gradient-x-purple-dark' : 'bg-gradient-x-dark-purple'
      "
      class="jumbotron jumbotron-fluid rounded  text-white shadow-white px-5"
      *ngFor="let sponsor of sponsors; let i = index"
    >
      <div class="container-fluid" *ngIf="i % 2 != 0; else even">
        <div class="row">
          <div class="col-md-5 col-xs-12 p-5 m-auto sponsor-img-container">
            <img
              [src]="sponsor.logoUrl"
              [alt]="sponsor.name"
              class="img-fluid sponsor-img m-auto"
            />
          </div>
          <div class="col-md-7 col-xs-12 p-5 d-none d-md-block text-right">
            <h1 class="display-4 font-regular">{{ sponsor.name }}</h1>
            <p class="lead font-regular text-muted">
              {{ sponsor.description }}
            </p>
            <p class="font-regular">
              <a
                [href]="sponsor.siteUrl"
                target="_blank"
                rel="noopener noreferrer"
                >Visitar sitio de {{ sponsor.name }}</a>
            </p>
          </div>
        </div>
      </div>
      <ng-template #even>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 col-xs-12 p-5 d-none d-md-block">
              <h1 class="display-4 font-regular">{{ sponsor.name }}</h1>
              <p class="lead font-regular text-muted">
                {{ sponsor.description }}
              </p>
              <p class="font-regular">
                <a
                  [href]="sponsor.siteUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Visitar sitio de {{ sponsor.name }}</a>
              </p>
            </div>
            <div class="col-md-5 col-xs-12 p-5 m-auto sponsor-img-container">
              <img
                [src]="sponsor.logoUrl"
                [alt]="sponsor.name"
                class="img-fluid sponsor-img m-auto"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <hr class="hr-aracne" style="margin: 0;" />
    <div class="row">
      <div class="col-xs-12 mx-auto my-5 shadow-white font-regular">
        <a href="mailto:administracion@aracne.gg?Subject=Sponsorship" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">¡Patrocínanos!</a>
      </div>
    </div>
  </div>
</div>
