.sponsor-img-container {
  display: grid;
}
.sponsor-img {
  max-height: 90px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .jumbotron{
      padding: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .teams-view::after {
    content: "";
    background-image: url("../../assets/images/logos/aracne.png");
    opacity: 0.2;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 5;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
