a {
  text-decoration: none;
  cursor: pointer;
}
.card{
  width: 14rem;
}
.card-body {
}
.card-img-top{
  height: 240px!important;
}
.noPlayerPicture{
  display: grid;
  height: 240px!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card{
    width: 16rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card{
    width: 18rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}