<div class="row">
  <div class="col-xs-12 mx-auto my-5">
    <h1 class="fontSpecial-lg text-center text-primary px-3">{{ team.name }}</h1>
  <p class="font-regular text-primary text-center mt-5 mb-3 px-4">{{ team.description }}</p>
  </div>
</div>
<div class="row position-relative" style="z-index: 10;">
  <div class="col-xs-12 mx-auto my-2 shadow" *ngFor="let player of players">
    <a [routerLink]="['/player',player.id]" class="">
        <div class="card shadow" *ngIf="player.playerImg!=''; else noPlayerPicture">
            <img
              class="card-img-top"
              [src]="player.playerImg"
              alt="{{ player.name }}"
            />
            <div class="card-body bg-gradient-x-purple-dark">
              <h5 class="card-title text-white font-regular">{{ player.name }}</h5>
              <p class="card-text text-muted font-regular">
                {{ player.about }}
              </p>
            </div>
          </div>
          <ng-template #noPlayerPicture>
            <div class="card shadow">
            <div class="h-100 bg-dark noPlayerPicture">
              <div class="playerName text-white m-auto">
                <h1 class="fontSpecial-normal">{{ player.name }}</h1>
              </div>              
            </div>
              <div class="card-body bg-gradient-x-purple-dark">
                <h5 class="card-title text-white font-regular">{{ player.name }}</h5>
                <p class="card-text text-muted font-regular">
                  {{ player.about }}
                </p>
              </div>
            </div>
          </ng-template>
    </a>    
  </div>
</div>
<!-- <app-player-item></app-player-item> -->
