<div class="bg-gradient-x-dark-purple">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <a class="navbar-brand" routerLink="/home">
      <img
        class="img-fluid"
        src="../../assets/images/logos/aracne.png"
        alt="Aracne Esports"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <!-- <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/news">Noticias</a>
        </li> -->
        <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/teams">Escuadras</a>
        </li>
        <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/sponsors">Patrocinadores</a>
        </li>
        <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/apply">Únete</a>
        </li>
        <li class="nav-item font-regular size-lg" routerLinkActive="active">
          <a class="nav-link" routerLink="/underconstruction">Media</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

