<div class="container-fluid bg-dark">
  <div class="container min-vh-70">
    <div class="row p-5">
      <div class="col-6 col-md-3  p-2">
        <a href="https://discord.gg/3Hn5Vhs" target="_blank">
          <div class="card bg-dark shadow-primary">
            <div class="card-body m-auto">
              <h5 class="card-title text-center font-regular text-white">
                Únete a nuestro Discord
              </h5>
              <img
                src="../../assets/images/logos/Discord-Wordmark-White.svg"
                alt=""
                class="img-fluid m-auto"
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 p-2">
        <a href="https://www.worldofwarcraft.com/invite/2PqExBGhPOL?region=US&faction=Horde" target="_blank">
          <div class="card bg-dark shadow-primary">
            <div class="card-body m-auto">
              <h5 class="card-title text-center font-regular text-white">
                Únete a nuestra Guild
              </h5>
              <img
                src="../../assets/images/logos/wow.png"
                alt=""
                class="img-fluid m-auto"
              />
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3  p-2">
        <a href="" target="_blank">
          <div class="card bg-dark shadow-primary">
            <div class="card-body m-auto">
              <h5 class="card-title text-center font-regular text-white">
                Postula a nuestro staff de stream
              </h5>
              <img
                src="../../assets/images/logos/Twitch-Wordmark-White.svg"
                alt=""
                class="img-fluid m-auto"
              />
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col-6 col-md-3  p-2">
        <a routerLink="/underconstruction">
          <div class="card bg-dark shadow-primary">
            <div class="card-body bg-aracne m-auto">
              <h5 class="card-title text-center font-regular text-white">
                Postula como Jugador
              </h5>              
            </div>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</div>
