a{
    text-decoration: none;
}
.card{
    height: 16em;
    display: grid;
    border: 3px solid #4c194f;
}

.bg-aracne::after {
    content: "";
    background-image: none;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .bg-aracne::after {
      content: "";
      background-image: url("../../assets/images/logos/aracne.png");
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background-repeat: no-repeat;
      z-index: 5;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }