<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade d-none d-md-block" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/slider/nier1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/slider/nier2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ola k ase</h5>
              <p>texto de prueba para ola k ase</p>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/slider/nier2.jpg" alt="Second slide">
          </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="d-block d-md-none bg-dark w-100 vh-100 container-fluid px-2">
        <div class="row">
            <div class="col text-center mx-1 mt-5 mb-3">
                <img src="../../assets/images/logos/aracne.png" alt="Aracne Esports" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-white text-center" style="margin: 0;">Bienvenidos a nuestro cubil, hogar de quien desafió a la misma Atena en un duelo de habilidad, duramente castigada, pero jamás vencida...</p><br>
                <p class="text-white text-center">Somos gamers, somos eSports, somos Aracne</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="fontSpecial-lg text-white text-center" style="margin: 0;">#GOARACNE</h1>
            </div>
        </div>
          
      </div>
</div>