<div
  class="jumbotron jumbotron-fluid rounded bg-gradient-x-purple-dark text-white shadow-white"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-xs-12 p-5 m-auto">
          <img src="../../../assets/images/logos/ASUS1-BL.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-7 col-xs-12 p-5 d-none d-md-block">
        <h1 class="display-4">Asus duh!</h1>
        <p class="lead">
            qué shusha escribo acá?
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="jumbotron jumbotron-fluid rounded bg-gradient-x-dark-purple text-white shadow-white"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-xs-12 p-5 d-none d-md-block">
        <h1 class="display-4">Razer, otsea mira el logo -></h1>
        <p class="lead">
          y aquí?
        </p>
      </div>
      <div class="col-md-5 col-xs-12 p-5 m-auto">
        <img src="../../../assets/images/logos/RAZER-BL.png" alt="" class="img-fluid">
    </div>
    </div>
  </div>
</div>
