  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0">
      <!-- Grid column -->
      <div class="col-md-10 col-12 mt-2">
        <div class="row card-group">
          <div class="card col-6 bg-black">
            <img
              class="card-img img-fluid m-auto"
              src="../../assets/images/logos/TEAMRAZER-BL.png"
              alt="Card image"
            />
          </div>
          <div class="card col-6 bg-black">
            <img
              class="card-img img-fluid m-auto"
              src="../../assets/images/logos/ASUS1-BL.png"
              alt="Card image"
            />
          </div>
          <div class="card col-6 bg-black">
            <img
              class="card-img m-auto img-fluid"
              src="../../assets/images/logos/RAZER-BL.png"
              alt="Card image"
            />
          </div>
          <div class="card col-6 bg-black">
            <img
              class="card-img img-fluid m-auto"
              src="../../assets/images/logos/REDBULL-BL.png"
              alt="Card image"
            />
          </div>
          <div class="card bg-black mx-auto my-md-auto mt-5">
            <img
              class="card-img img-fluid"
              src="../../assets/images/logos/GOARACNE-BL.png"
              alt="Card image"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Grid row-->
    <hr class="hr-aracne">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 flex-center text-white">
          <!-- Facebook -->
          <a class="fb-ic ic" href="https://www.facebook.com/AracneGG">
            <i class="fa fa-facebook-f fa-lg mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic ic" href="https://twitter.com/AracneGG">
            <i class="fa fa-twitter fa-lg mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic ic" href="https://www.instagram.com/aracnegg">
            <i class="fa fa-instagram fa-lg mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 flex-center">
          <p>
            © Aracne Esports 2020. Todos los derechos reservados. Empowered by KrakeX
          </p>
        </div>
      </div>
    </div>
  </div>
  